// width
$w-100: 100%;
$d-flex: flex !important;
$dim-4: 1.5rem !important;
$dim-2: 0.5rem !important;
$dim-1: 1rem !important;
$dim-1-5: 1.5rem !important;
$dimi-3-5: 0.875rem;
$dimi-6: 1.5rem;
$dimi-8: 2rem;
$--4: -1rem;
$--6: -1.5rem;
$--8: -2rem;
$--2: -0.5rem;
$auto: auto !important;
$d-inline-block: inline-block;
$middle: middle !important;